Topic Researcher/Researcher.json
{
  "nodes": [
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "specifiedFields",
        "fieldsToInclude": "title, raw_content, url",
        "options": {}
      },
      "id": "5350ab88-1213-49e2-9aae-623f4bb36762",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -220,
        260
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "id": "a0b9e57c-b8c6-41c5-bd0e-690315ad969f",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -400,
        260
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1x8eM266LtDLLNEwuLetfogyKRpaylyzfiD0VMniaVts/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x8eM266LtDLLNEwuLetfogyKRpaylyzfiD0VMniaVts/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Topic": "={{ $('Google Sheets Trigger').item.json.Topic }}",
            "Summary": "={{ $json.summary }}",
            "References": "={{ $json.articleUrl }}"
          },
          "matchingColumns": [
            "Topic"
          ],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "References",
              "displayName": "References",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c99802d2-e6ff-4970-b80e-4f2b2531151b",
      "name": "Update Campaign",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        580,
        160
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bwweN99oE3XU5Es1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1x8eM266LtDLLNEwuLetfogyKRpaylyzfiD0VMniaVts/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x8eM266LtDLLNEwuLetfogyKRpaylyzfiD0VMniaVts/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "id": "863325e1-b2b0-4183-8c6c-d91bfe6f26af",
      "name": "Google Sheets Trigger",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -1000,
        260
      ],
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "EoN59AcLrM7t2KLH",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b493a3c6-939a-4301-9257-055b80c28d7a",
              "name": "query",
              "value": "={{ $json.Topic }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d50e1b24-be53-455c-b778-de97c9409001",
      "name": "Set Search Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -780,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"api_key\": \"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\",\n    \"query\": \"{{ $json.query.replace(/\"/g, '\\\\\"') }}\",\n    \"search_depth\": \"basic\",\n    \"include_answer\": true,\n    \"topic\": \"news\",\n    \"include_raw_content\": true,\n    \"max_results\": 3\n} ",
        "options": {}
      },
      "id": "15a178b2-297f-4f99-9d08-08629e9a199d",
      "name": "Search Web",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -580,
        60
      ]
    },
    {
      "parameters": {
        "jsCode": "const fullText = items[0].json.output;\n\n// Use regex to find the last URL in the text\nconst urlMatch = fullText.match(/https?:\\/\\/[^\\s]+$/);\n\n// Extract URL and content\nconst url = urlMatch ? urlMatch[0] : '';\nconst content = url ? fullText.replace(url, '').trim() : fullText;\n\nreturn [\n  {\n    json: {\n      summary: content,\n      articleUrl: url\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        0
      ],
      "id": "55f7df50-2126-41d4-bc7e-452606b22f9d",
      "name": "Code"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "=Article Content:\n{{ $json.data.toJsonString() }}\n",
        "options": {
          "systemMessage": "=** System Role **\n\nYou are a professional article summarizer specialist who turns articles into easy to understand summaries.\n\n\n** Task Details **\n\nUse the article provided to create a summary that is:\n\nClear, engaging, and optimized for mobile reading\n\nTailored to the professional goals and interests of the audience\n\nWritten in plain text only (no formatting), with line breaks for readability\n\n\nOffers real, practical value and includes a call to action\n\nOutput should contain only the final post text — nothing more\n\n\n** Post Requirements **\n\nKeep the tone human and conversational\n\nStay within 3,000 characters\n\nThe post should capture the essence of the article while aligning with what matters most to the audience\n\n\n** Example **\nInput: Article on productivity hacks for managers\nOutput:\nManagers — if you're drowning in meetings and feeling the pressure, here's your reminder that working smarter is possible.\nTry these simple shifts:\n\nUse the Eisenhower Matrix to sort priorities\n\nBlock out deep work sessions on your calendar\n\nDelegate more to free up mental space\n\n\n\n** Key Reminders **\n\nMatch the content to the audience's pain points, language, and motivation\n\nAlways include useful takeaways\n\nUse clean, broken-up plain text (no formatting or extra output)\n\nAdd the url also at the end along with the article"
        }
      },
      "id": "669e33d6-4534-4798-b7ea-7866ed877467",
      "name": "Summarize",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-5-sonnet-20241022",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 3.5 (New)"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -40,
        200
      ],
      "id": "9d553047-4eeb-4a07-912e-161711337723",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "HVPHoCWYqY3vDUri",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        140,
        220
      ],
      "id": "57863fcc-567b-4fa1-a44c-2f75173cc0b1",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "O0xmZIPVDGlJbReP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Set Search Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Search Fields": {
      "main": [
        [
          {
            "node": "Search Web",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Web": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Update Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f7dd6a36f0e4185777399383443a25b15b6d3823d9f3a52240e7af6d4fdec5b0"
  }
}